header{
	width: 100%;
	background: url(../img/top-bg.jpg) no-repeat center top #1d71f0;
	background-size:  100% auto;
}
header .header-content{
	width: 100%;
	margin: 0 auto;
}
.header-top{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 10px;
}
.logo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.logo p{
	font-size: 15px;
	color: #fff;
	background-color: #ff0000;
	line-height: 35px;
	padding: 0 5px;
	margin-left: 5px;
	position: relative;
	top: 10px;
}
.user-view{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 12px;
	color: #fff;
}
.user-view p{
	color: #fff;
	margin: 0 10px;
}

.nav-list{
	/*display: flex;*/
	/* justify-content: center; */
	/*align-items: center;*/
	padding-top: 10px;
	background-color: transparent!important;
}
.nav-list .one {
	/*margin: 0 15px;*/
	margin-right: 30px;
	padding-bottom: 0px;
	display: inline-block;
}
.nav-list div>a[data-toggle="tab"]{
	font-size: 14px;
	color: #fff;
	/* background: #5a95fb; */
	display: inline-block;
	text-decoration: none;
	/* 	width: 115px; */
	line-height: 40px;
	padding-bottom: 2px;
	border-bottom:3px solid transparent;
	/*border-radius: 5px;*/
	text-align: center;
}
.nav-list .active{

	/* background: url(../img/acitve-bg.png) no-repeat center top; */
	/* background-size: 100% auto; */
}
.nav-list .active>a[data-toggle="tab"]{
	background: none;
	border-color: #fe8034;
	color: #ff9352;
}
.header_more{
	position: relative;
}
.nav-list .header_more>a{
	/* background: #fe8034; */
	/* color: #fff; */
}
.header_more ul{
	position: absolute;
	top: 100%;
	left: 0px;
	width: 140px;
	left:50%;
	margin-left: -70px;
	display: none;
	/* border: 1px solid #a4c2ff; */
	background-color: #3f86ff;
	text-align: center;
	line-height: 37px;
	box-shadow: 0px 2px 5px 1px rgba(255,255,255,0.1);
	z-index: 9;
}
.header_more ul a{
	font-size: 14px;
	display: block;
	line-height: 39px;
	color: #e1ecff;
	/*border-radius:5px;*/
}
.header_more ul a:hover{
	background-color: #2675fd;
	color: #fe8034;
}
.header_more:hover ul{
	display: block;
}

.nav-list .one:hover{
	/* 	background: url(../img/acitve-bg.png) no-repeat center top; */
}
.nav-list .one:hover>a[data-toggle="tab"]{
	/* 	background:#fe8034; */
	border-color: #fe8034;
	color: #ff9352;
}


.container{
	background: #fff;
}
.content{
	width: 1200px;
	margin: 0 auto;
}

.search-view{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}
.search-view input{
	font-size: 17px;
	color: #333333;
	height: 50px;
	background-color: #eeeeee;
	border: 1px solid #dcdcdc;
	outline: none;
	width: 550px;
	padding: 0 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/*按照需求改变*/
.search-view textarea{
	font-size: 17px;
	color: #333333;
	min-height: 160px;
	background-color: #eeeeee;
	border: 1px solid #dcdcdc;
	outline: none;
	min-width: 660px;
	padding: 0 10px;
	border-top-left-radius: 5px;
	border-radius: 5px;
}


.search-view .search-btn{
	font-size: 24px;
	color: #fff;
	background-color: #fe8034;
	display: block;
	/*line-height: 50px;*/
    line-height: 30px;
	padding: 0 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}



.search-view .search-btnN{
    font-size: 24px;
    color: #fff;
    background-color: #fe8034;
    display: block;
    line-height: 50px;
    padding: 0 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-view .search-btnB{
	font-size: 24px;
	color: #fff;
	background-color: #5981fe;
	display: block;
	line-height: 50px;
	padding: 0 30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.wordShowC {
	width: 660px;
	min-height: 160px;
	max-height: 500px;
	padding: 3px;
	border: 1px solid #dcdcdc;
	background-color: #FFFFFF;
	border-radius: 5px;
	/* font-size: 12px; */
	word-wrap: break-word;
	overflow-y: auto;
}

.search-view .btn_search {
	font-size: 24px;
	color: #fff;
	background-color: #fe8034;
	display: block;
	line-height: 39px;
	padding: 0 30px;
	border-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 68%;
}

.search-desc{
	padding: 30px 0 60px;
}
.search-desc .title{
	font-size: 21px;
	color: #27426e;
	font-weight: bold;
}
.search-desc .txt{
	font-size: 18px;
	color: #333333;
	margin: 20px 0 10px;
}
.search-desc p{
	font-size: 16px;
	color: #666666;
	line-height: 25px;
}
.search-desc p font{
	color: #fe8034;
}

.search-info{
	padding-bottom: 100px;
}
.info-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.item-left, .item-right{
	height: 6%;
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.item-left span{
	display: block;
	width: 210px;
	line-height: 40px;
	font-size: 16px;
	color: #526d88;
}
/*.item-left p{*/
	/*flex: 1;*/
	/*line-height: 40px;*/
	/*font-size: 16px;*/
	/*color: #008ae5;*/
/*}*/
.item-right span{
	display: block;
	width: 200px;
	line-height: 40px;
	font-size: 16px;
	color: #526d88;
}
.item-right p{
	flex: 1;
	line-height: 40px;
	font-size: 16px;
	/*color: #008ae5;*/
}

.search-info .active{
	background-color: #d0dded;
}
/*.search-info .active span, .search-info .active p{*/
	/*color: #ff0000;*/
/*}*/

.footer{
	background-color: #e5e5e5;
	text-align: center;
}
.footer p{
	font-size: 12px;
	color: #999999;
	line-height: 35px;
	margin-bottom: 0;
}

.dsr-info .dsr-item {
	width: 382px;
	height: 60px;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 12px;
	vertical-align: middle;
}
 .dsr-info .item-scrib {
	 position: relative;
	 height: 30px;
	 line-height: 30px;
	 overflow: hidden;
	 color: gray;
	 width: 400px;
 }

 /*.dsr-info .item-scrib .percent {
	 position: absolute;
	 right: 10px;
	 top: 2px;
	 width: 79px;
	 padding-left: 130px;
	 text-align: center;
	 height: 28px;
	 line-height: 26px;
	 display: block;
	 color: #fff;
 }*/
	/*background: url(../img/dsr.png) no-repeat;*/

*********.网站弹框**********/
.wap_tanc{
	width:100%;
	height:100%;
	position:fixed; top:0; left:0;
	z-index:99999;
	display:none;
}
.wap_tanc_bg{
	width:100%;
	height:100%;
	position:absolute; top:0; left:0;
	z-index:9;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity:0.4;
	-webkit-opacity:0.4;
}

.wap_tanc_con{
	width:250px;
	padding: 16px;
	padding-bottom: 0;
	background-color: rgba(255,255,255,0.96);
	border-radius:15px;
	position:absolute; left:50%; top:50%;
	margin-top:-55px;
	margin-left:-125px;
	display:none;
	z-index:9;
}
.wap_tanc_con h5{
	margin:0;
	padding-bottom: 16px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	font-weight:600 !important;
	letter-spacing:1px;
	border-bottom:1px solid #EBEBEB;

}

.wap_tanc_btn a{
	display:inline-block;
	width:50%;
	float:left;
	line-height:50px;
	text-align:center;
	letter-spacing:1px;
	font-size:14px;
	color:#006fff;
}


.wap_tanc_con1{
	width:500px;
	height:250px;
	margin-top:-125px;
	margin-left:-250px;
	padding:50px;
}
.wap_tanc_con1 h5{
	border-bottom:none;
	text-align:left;
	line-height:40px;
	font-weight:normal !important;
}
.wap_tanc_con1 h5 img{
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
}
.wap_tanc_con1 h5 p{
	display:inline-block;
	vertical-align:top;
	font-size:30px;
}
.wap_tanc_con1 h5 p span{
	color:#ea5404;
	margin:0 3px;
}

.wap_tanc_con1 a{
	font-size:14px;
	display:inline-block;
	padding-left:95px;
	margin-top:20px;
	color:#ea5404;
	letter-spacing:1px;
}
.wap_tanc_con1>p{
	font-size:24px;
	color:#999;
	position:absolute; top:10px; right:20px;
	cursor:pointer;
}
/*********网站弹框**********/