*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	font-size: 14px;
	/*color: #333;*/
	color:#30F;
}
a:hover{ color:#333; text-decoration:underline;}
a:active{ color:#F00;}

p{
	font-size: 14px;
	color: #333;
}
ul, li{
	list-style: none;
}
img{
	display: block;
}
