@charset "utf-8";
/* CSS Document */


body{
	font-family:"Microsoft YaHei","微软雅黑" !important;
	background-color: #f4f4f4;
}
.container{
	width:1200px;
}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
	margin: 0;
	padding: 0;
	border: 0;
}
 body a:hover, body a:focus{
	color: #666;
}
a{
	color: #666;
	text-decoration: none!important;
}
[v-clock]{
	display: none;
}
/*****header*******/
.header{
	border-bottom: 2px solid #fc6c0e;
	background-color:#fff;
	min-width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 9;
}
.warpper{
	min-width: 1200px;
	margin: 0 auto;
}
.header_gary{
	background-color: #f4f4f4;
	line-height: 30px;
	font-size: 12px;
}
.header_gary span{
	color: #666;
	display: inline-block;
}
.header_gary a{
	color: #fc6d0b;
	display: inline-block;

}
.header_gary a,.header_gary span{
	margin-right: 15px;
}
.header_center{
	padding: 25px 0;
}
.header_center_left{
	float: left;
}
.header_logo{display:  inline-block;}
.header_center_text{
	display: inline-block;
	vertical-align: middle;
	margin:  0px;
	margin-left:  15px;
	letter-spacing:  1px;
	color: #fb6c0e;
}
.header_center_search{
	float: left;
	margin-left: 4%;
	border:2px solid #fb6c0e;
	margin-top: 16px;
}
.header_center_search input{
	width: 498px;
	border:0px;
	height:34px;
	line-height:40px;
	padding: 0 11px;
	float:left;
}
.header_search_bt{
	background-color:#fb6c0e;
	color:#fff;
	height:34px;
	line-height:34px;
	padding:0 15px;
	float:left;
	cursor: pointer;
}
.search_icon{
	float:left;
	margin: 6px 0px 0px 11px;
}
.left_menu{
	float: left;
	position: relative;
	height: 40px;
	color: #fff;
	width: 240px;
	background-color: #fb6c0e;
}
.left_menu_con{
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	background-color:#fe9f53;
	padding: 0 15px;
	padding-bottom: 5px;
}
.left_menu_box{
	padding: 15px 0 9px 0;
	border-bottom: 1px solid #ffba81;
}
.left_menu_box .title{
	margin-bottom: 10px;
}
.left_menu_box .title img{
	width: 14px;
	display:  inline-block;
	vertical-align:  middle;
	margin-right: 6px;
	margin-top: -2px;
}
.left_menu_box:last-child{
	border:0px;
}
.left_menu_tit{
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	position: relative;
}
.left_menu_link a{
	color: #ffeddf;
	font-size:12px;
	margin-right: 24px;
	line-height: 25px;
	display:  inline-block;
}
.left_menu_link a:hover{
	color: #fff;
}
.right_menu{
	float: left;
	line-height: 40px;
	font-size: 16px;
	padding-left: 15px;
}
.right_menu li{
	float: left;
}
.right_menu li a{
	display: inline-block;
	padding: 0 25px;
}
.right_menu li a:hover{
	color:#fb6c0e;
}
/*****header*******/
.index_ser1{
	padding-left: 240px;
	padding-top: 10px;
}
.index_banner{
	padding:0 10px;
	float: left;
	width: 70%;
	position: relative;
}
.index_bannerBox{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 368px;
}
.pagination_banner{
	position: absolute;
	bottom: 20px;
	margin: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	z-index: 9;
}
.pagination_banner span{
	margin:0 6px;
	width: 12px;
	height: 12px;
	box-shadow: 0px 0px 8px 2px rgba(255,255,255,0.1);
}
.pagination_banner span.swiper-pagination-bullet-active{
	background-color: #fb6c0e;
}
.index_banner_bt{
	position: absolute;
	top: 50%;
	width: 32px;
	line-height:  65px;
	height: 65px;
	margin-top: -32px;
	font-size: 30px;
	color: #fff;
	opacity: 0;
	text-align:  center;
	z-index: 9;
	background-color: rgba(0,0,0,0.5);
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	cursor:pointer;
}
.index_banner:hover .index_banner_bt_one{
	opacity: 1;
}
.index_banner_bt.left{
	left:0px;
}
.index_banner_bt.right{
	right:0px;
}
.index_banner_bt_one.left{
	left:10px;
}
.index_banner_bt_one.right{
	right:10px;
}
.index_ser1_right{
	width: 30%;
	float: left;
	font-size: 12px;
}

.index_login{
	padding: 15px 0 0 0;
	background-color: #fff;
	border:1px solid #efefef;
	text-align:  center;
}
.index_login .img{
	width: 70px;
	margin:0 auto;
}
.index_login_ttis{
	margin: 14px 0 7px 0;
	font-size: 13px;
}
.index_login_ttis2{
	color: #fb6c0e;
}
.index_login_box{
	background-color: #fb6c0e;
	text-align: center;
	margin-top: 16px;
	padding: 12px 0px;
}
.index_login_box a{
	display: inline-block;
	padding: 7px 20px;
	color: #fb6c0e;
	background-color: #fff;
	margin: 0 15px;
}
.index_notice{
	background-color: #fff;
	border:1px solid #efefef;
	margin-top: 10px;
}
.index_notice_tit{
	height: 37px;
	line-height: 37px;
	padding: 0 15px;
	border-bottom:1px solid #efefef;
}
.index_notice_tit h5{
	float: left;
	line-height: 37px;
}
.index_notice_tit a{
	float: right;
	color: #fb6c0e;
}
.index_notice_list li{
	line-height: 24px;
	font-size: 12px;
	padding:0 15px;
}
.index_notice_list li a:hover{
	color: #fb6c0e;
}
.index_notice_list{
	padding: 7px 0;
}
.all_mar{
	margin-bottom: 20px;
}
.index_ser2{
	position: relative;
}
.index_ser2:hover .index_banner_bt_two{
	opacity: 1;
}
.index_banner_bt_two:hover{
	background-color: #fb6c0e;
}
.index_ser2_box{
	position: relative;
	cursor:pointer;
}
.index_ser2_box:after{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.index_ser2_box:hover:after{
	background-color: rgb(0,0,0,0.5);
}
.index_ser3{
	border: 9px solid #ffe5ce;
}
.index_ser3_box{
	width: 25%;
	float: left;
	text-align:  center;
	padding: 30px 0;
	background-color: #fff;
	border:1px solid #eee;
	border-collapse:collapse;
}
.index_ser3_box:hover{
	border-color: #fb6c0e;
}
.index_ser3_box img{
	width: 70px;
}
.index_ser3_box .tit{
	font-size:24px;
	margin: 24px 0;
}
.index_ser3_more{
	border: 1px solid #fe9f53;
	width: 134px;
	margin: 0 auto;
	line-height: 42px;
	border-radius: 49px;
	letter-spacing:  1px;
	font-size:  15px;
	color: #fe9f53;
}
.index_ser3_box:hover .index_ser3_more{
	color: #fff;
	background-image: -webkit-linear-gradient(to left, #f9b533, #ff7201 );
	background-image: -o-linear-gradient(to left,#f9b533, #ff7201 );
	background-image: linear-gradient(to left,#f9b533, #ff7201 );
}
.index_ser4_tit{
	width: 100%;
	border:1px solid #fb6c0e;
	margin-bottom: 20px;
}
.index_ser4_tit span{
	width: 33.33333%;
	display: block;
	float: left;
	font-size:  16px;
	height: 48px;
	line-height: 48px;
	color: #fb6c0e;
	cursor:pointer;
	text-align:center;
	border-right: 1px solid #fb6c0e;
}
.index_ser4_tit span.active{
	background-color: #fb6c0e;
	color: #fff;
}
.index_ser4_tit span:last-child{
	border:0px;
}
.index_ser4_box1{
	background-color: #fff;
	margin: 10px 0;
	box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.1);
	cursor:  pointer;
	position: relative;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	top: 0px;
}
.index_ser4_box1:hover{
	top: -5px;
}
.index_ser4_box1 p{
	line-height: 38px;
	height: 38px;
	padding: 0 15px;
	border-top:1px solid #eee;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow:hidden;
}
.index_ser4_box2{
	margin:10px 0;
	background-color: #fff;
}

.index_ser4_box2 .img{
	width: 30%;
	float: left;
	height: 134px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.index_ser4_box2 .text{
	width: 70%;
	padding: 20px 20px 12px 20px;
	float:  left;
}
.index_ser4_box2 .text h5{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow:hidden;
	margin-bottom: 10px;
	font-size: 16px;
	color:#333;
}
.index_ser4_box2:hover .text h5{
	color: #fb6c0e;
}
.index_ser4_box2 .text p{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow:hidden;
	color:  #666;
	font-size:  12px;
	line-height: 22px;
}
.index_ser4_box2 .text h6{
	margin-top: 15px;
	color: #999;
}
.index_ser4_box2 .text h6 span{
	margin-left:10px
}
.index_ser4_box2 .text h6 i{
	font-size: 17px;
	margin-right: 4px;
	display:  inline-block;
	vertical-align:  middle;
	margin-top: -3px;
}
.index_ser5_title{
	margin-bottom:40px;
	text-align: center;
}
.index_ser5{
	background-color: #ffe4d2;
	padding: 50px 30px  30px 30px;
}
.index_ser5_title span{
	padding:10px 15px;
	display: inline-block;
	border: 1px solid #333;
	font-size: 25px;
	color: #333;
}
.index_ser5_box{
	float: left;
	width: 14.28%;
	text-align:center;
	margin-bottom:20px;
}
.index_ser5_box img{
	width: 72%;
}
.footer{
	padding: 50px 0;
	text-align: center;
	font-size: 12px;
}
.footer a{
	color:#fb6c0e;
	margin-left: 12px;
}
.index_core{
	position: fixed;
	top: 37.5%;
	left: 1551px;
	width: 158px;
	border: 1px solid #d6d6d6;
	padding: 10px 15px;
	background-color:  #fff;
	text-align:  center;
}
.index_core h5{
	font-size: 12px;
	color: #fc6b0e;
	margin-bottom: 13px;
}
.index_core p{
	margin-top: 10px;
	font-size:  12px;
	line-height: 17px;
}
.index_ser4_more{
	margin-bottom: 8px;
}
.index_ser4_left{
	float: left;
	font-size: 15px;
}
.index_ser4_left img{
	width: 26px;
	display:  inline-block;
	vertical-align:  middle;
	margin-right: 6px;
	margin-top: -4px;
}
.index_ser4_right{
	float: right;
}
.index_ser4_right a:hover{
	color: #fb6c0e;
}
/*index*/
/*tool*/
.header_all .left_menu_con{
	display: none;
}
.header_all .left_menu_tit i{
	position: absolute;
	top: 8px;
	right: 13px;
	font-size: 22px;
}
.header_all .left_menu:hover  .left_menu_con{
	display: block;
}
.header_all .left_menu:hover .left_menu_tit i{
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.allhear_mar{
	margin-top:30px;
}
.tool_con{
	padding: 30px;
	background-color: #fff;
}
.tool_con .index_ser4_box2 .text{
	border:1px solid #ececec;
	border-left: 0px;
}
.all_nav{
	padding: 15px 0;
	color: #999;
}
/*tool*/

/*tooldetail*/
.toolDetails_con{
	background-color: #fff;
	border: 1px solid #ececec;
}
.toolDetails_tit{
	padding: 54px 0 25px 0;
	text-align: center;
	border-bottom: 1px dashed #dfe4e8;
}
.toolDetails_tit h2{
	font-size: 28px;
	line-height: 38px;
	margin-bottom: 18px;
}
.toolDetails_tit p{
	text-align: center;
}
.toolDetails_tit span{
	display: inline-block;
	margin: 0 10px;
	color: #999;
	font-size: 12px;
}
.toolDetails_box{
	padding: 30px;
}
.toolDetails_box p{
	font-size: 14px;
	margin: 10px 0;
	line-height: 27px;
	letter-spacing:  1px;
}
.toolDetails_box p img{
	max-width: 100%;
	display:  block;
	margin:  0  auto;
}
.toolDetails_bt{
	text-align: center;
	padding-bottom: 15px;
	margin-top: 30px;
	border-bottom: 1px dashed #dfe4e8;
}
.toolDetails_bt a{
	display: inline-block;
	padding: 9px 25px;
	border-radius: 9px;
	background-color: #e8e8e8;
	border: 1px solid  #dcdcdc;
}
.toolDetails_go{
	padding: 20px 30px;
}
.toolDetails_go p{
	line-height: 34px;
}
.toolDetails_go  a:hover{
	color:#fb6c0e;
}
.hot_news{
	background-color:#fff;
	border: 1px solid #ececec;
}
.hot_news h2.tit{
	font-size: 18px;
	line-height: 43px;
	padding: 0 15px;
	background-color: #eaeaea;
}
.hot_news ul{
	padding: 4px 15px;
	font-size:12px;
}

.hot_news ul li a{
	display:block;
	position:relative;
	padding: 0 74px 0  30px;
	margin: 15px 0;
}
.hot_news ul b{
	position:absolute;
	top:0px;
	left:0px;
	color: #333;
	width: 18px;
	font-weight:300;
	text-align:center;
	height: 18px;
	border-radius: 3px;
	background-color: #eee;
}
.hot_news ul .date{
	position:absolute;
	top:0px;
	right:0px;

}
.hot_news ul .text{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow:hidden;
	color: #f76000;
	line-height:  16px;
}
.hot_tool{
	margin-top: 20px;
}
.hot_tool_con{
	padding: 30px 25px 15px 25px;
	text-align:center;
}
.hot_tool_box h5 img{
	height: 64px;
	margin-bottom: 7px;
}
.hot_tool_box p{
	font-size:12px;
}
.hot_tool_box{
	margin-bottom: 13px;
}
.hot_news ul b.numFir{
	background-color:#f34646;
	color:#fff;
}
/*tooldetail*/
/*notice*/
.notice_menu{
	background-color: #fff;
	border: 1px solid #D9D9D9;
	min-height: 600px;
}
.notice_menu_tit{
	padding: 0 15px;
	font-size: 16px;
	line-height: 45px;
	border-bottom:1px solid #eee;
}
.notice_menu_tit img{
	width: 23px;
	display:  inline-block;
	vertical-align:  middle;
	margin-right: 6px;
}
.notice_menu_list a{
	display: block;
	text-align: center;
	line-height: 37px;
	font-size: 13px;
}
.notice_menu_list li{
	/* border-bottom:1px solid #eee; */
}
.notice_menu_list li.active{
	background-color: #f4f4f4;
	border-left: 2px solid #fc6b0e;
	width: 101%;
}
.notice_ccontent{
	background-color:#fff;
	border: 1px solid #D9D9D9;
	padding:0 30px;
	height:600px
}
.notice_ccontent_box{
	padding:20px 15px;
	border-bottom: 1px solid #eee;
}
.notice_ccontent_box:hover{
	background-color: #f5f5f5
}
.notice_ccontent_box h5{
	color:#333;
	margin-bottom:15px;
}
.notice_ccontent_box:hover h5{
	color: #fb6c0e;
}
.notice_ccontent_box p{
	font-size:12px;
	line-height:22px;
	margin-bottom:15px;
	color: #666;
	letter-spacing:  1px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow:hidden;
}
.notice_ccontent_box h6{
	color:#999;
/*notice*/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
