@charset "utf-8";
/* CSS Document */


body{
    font-family:"Microsoft YaHei","微软雅黑" !important;
    background-color: #f4f4f4;
}
.container{
    width:1200px;
    padding: 0px;
}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
    margin: 0;
    padding: 0;
    border: 0;
}
body a:hover, body a:focus{
    color: #666;
}
a{
    color: #666;
    text-decoration: none!important;
}
[v-clock]{
    display: none;
}
.noViolation{

    color: #fb6c0e;
    font-size: 24px;
    text-align: center;
    background-color: #fffcfa;
    border: 1px solid #fb6c0e;
    padding: 40px 20px;
    border-radius: 5px;
}
nav.page{
    text-align:center;
}
nav.page ul{
    display: inline-block;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #fb6c0e;
    border-color: #fb6c0e;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover,.pagination>li>a, .pagination>li>span {
    color: #fb6c0e;
}
/*****header*******/
.header_on{
    display: none;
}
.header{
    border-bottom: 2px solid #fc6c0e;
    background-color:#fff;
    min-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}
.warpper{
    min-width: 1200px;
    margin: 0 auto;
}
.header_gary{
    background-color: #f4f4f4;
    line-height: 30px;
    font-size: 12px;
}
.header_gary span{
    color: #666;
    display: inline-block;
}
.header_gary .head_portant{
    color: #fc6d0b;
    display: inline-block;

}
.header_gary a,.header_gary span{
    margin-right: 15px;
}
.header_center{
    padding: 25px 0;
}
.header_center_left{
    float: left;
}
.header_logo{display:  inline-block;}
.header_logo img{
    width: 154px;
}
.header_center_text{
    display: inline-block;
    vertical-align: middle;
    margin:  0px;
    margin-left:  15px;
    letter-spacing:  1px;
    color: #fb6c0e;
}
.header_center_search{
    float: left;
    margin-left: 4%;
    border:2px solid #fb6c0e;
    margin-top: 16px;
}
.header_center_search input{
    width: 470px;
    border:0px;
    height:34px;
    line-height:40px;
    padding: 0 11px;
    float:left;
    outline: none;
}
.header_search_bt{
    background-color:#fb6c0e;
    color:#fff;
    height:34px;
    line-height:34px;
    padding:0 15px;
    float:left;
    cursor: pointer;
}
.search_icon{
    float:left;
    margin: 6px 0px 0px 11px;
}
.search_icon img{
    width: 16px;
}
.left_menu{
    float: left;
    position: relative;
    height: 40px;
    color: #fff;
    width: 240px;
    background-color: #fb6c0e;
}
.left_menu_con{
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background-color:#fe9f53;
    padding: 0 15px;
    padding-bottom: 4px;
}
.left_menu_box{
    padding: 15px 0 9px 0;
    border-bottom: 1px solid #ffba81;
}
.left_menu_box .title{
    margin-bottom: 10px;
}
.left_menu_box .title img{
    width: 14px;
    display:  inline-block;
    vertical-align:  middle;
    margin-right: 6px;
    margin-top: -2px;
}
.left_menu_box:last-child{
    border:0px;
}
.left_menu_tit{
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    position: relative;
}
.left_menu_link a{
    color: #ffeddf;
    font-size:12px;
    margin-right: 24px;
    line-height: 22px;
    display:  inline-block;
    cursor: pointer;
}
.left_menu_link a:hover{
    color: #fff;
}
.right_menu{
    float: left;
    line-height: 40px;
    font-size: 16px;
    padding-left: 15px;
}
.right_menu li{
    float: left;
    list-style: none;
    position: relative;
}
.right_menu li a{
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
}
.right_menu li a:hover{
    color:#fb6c0e;
}
/*****header*******/
.index_ser1{
    padding-left: 240px;
    padding-top: 10px;
    position: relative;
}
.nyear_box{
    position: absolute;
    top: 0px;
    width: 170px;
    left: -168px;
}
.nyear_img2{
    width: 153px;
}
.nyear_img1{
    position: absolute;
    width: 190px;
    top: -194px;
    left: -24px;
    z-index: 9;
}
.nyear_img3{
    position: absolute;
    right: -114px;
    height: 156px;
    top: -163px;
    z-index: 9;
}
.index_banner{
    padding:0 10px;
    float: left;
    width: 70%;
    position: relative;
}
.index_bannerBox{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 368px;
}
.pagination_banner{
    position: absolute;
    bottom: 20px;
    margin: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    z-index: 9;
}
.pagination_banner span{
    margin:0 6px;
    width: 12px;
    height: 12px;
    box-shadow: 0px 0px 8px 2px rgba(255,255,255,0.1);
}
.pagination_banner span.swiper-pagination-bullet-active{
    background-color: #fb6c0e;
}
.index_banner_bt{
    position: absolute;
    top: 50%;
    width: 32px;
    line-height:  65px;
    height: 65px;
    margin-top: -32px;
    font-size: 30px;
    color: #fff;
    opacity: 0;
    text-align:  center;
    z-index: 9;
    background-color: rgba(0,0,0,0.5);
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor:pointer;
}
.index_banner:hover .index_banner_bt_one{
    opacity: 1;
}
.index_banner_bt.left{
    left:0px;
}
.index_banner_bt.right{
    right:0px;
}
.index_banner_bt_one.left{
    left:10px;
}
.index_banner_bt_one.right{
    right:10px;
}
.index_ser1_right{
    width: 30%;
    float: left;
    font-size: 12px;
}

.index_login{
    padding: 15px 0 0 0;
    background-color: #fff;
    border:1px solid #efefef;
    text-align:  center;
}
.index_login .img{
    width: 70px;
    margin:0 auto;
}
.index_login_ttis{
    margin: 14px 0 7px 0;
    font-size: 13px;
}
.index_login_ttis2{
    color: #fb6c0e;
}
.index_login_box{
    background-color: #fb6c0e;
    text-align: center;
    margin-top: 16px;
    padding: 12px 0px;
}
.index_login_box a{
    display: inline-block;
    padding: 7px 20px;
    color: #fb6c0e;
    background-color: #fff;
    margin: 0 15px;
    cursor: pointer;
}
.index_notice{
    background-color: #fff;
    border:1px solid #efefef;
    margin-top: 10px;
}
.index_notice_tit{
    height: 37px;
    line-height: 37px;
    padding: 0 15px;
    border-bottom:1px solid #efefef;
}
.index_notice_tit h5{
    float: left;
    line-height: 37px;
}
.index_notice_tit a{
    float: right;
    color: #fb6c0e;
}
.index_notice_list li{
    line-height: 24px;
    font-size: 12px;
    padding:0 15px;
}
.index_notice_list li a:hover{
    color: #fb6c0e;
}
.index_notice_list{
    padding: 7px 0;
    height: 110px;
}
.all_mar{
    margin-bottom: 20px;
}
.index_ser2{
    position: relative;
}
.index_ser2:hover .index_banner_bt_two{
    opacity: 1;
}
.index_banner_bt_two:hover{
    background-color: #fb6c0e;
}
.index_ser2_box{
    position: relative;
    cursor:pointer;
}
.index_ser2_box:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.index_ser2_box:hover:after{
    background-color: rgb(0,0,0,0.5);
}
.index_ser3{
    border: 9px solid #ffe5ce;
}
.index_ser3_box{
    width: 25%;
    float: left;
    text-align:  center;
    padding: 30px 0;
    background-color: #fff;
    border:1px solid #eee;
    border-collapse:collapse;
}
.index_ser3_box:hover{
    border-color: #fb6c0e;
}
.index_ser3_box img{
    width: 70px;
}
.index_ser3_box .tit{
    font-size:24px;
    margin: 24px 0;
}
.index_ser3_more{
    border: 1px solid #fe9f53;
    width: 134px;
    margin: 0 auto;
    line-height: 42px;
    border-radius: 49px;
    letter-spacing:  1px;
    font-size:  15px;
    color: #fe9f53;
}
.index_ser3_box:hover .index_ser3_more{
    color: #fff;
    background-image: -webkit-linear-gradient(to left, #f9b533, #ff7201 );
    background-image: -o-linear-gradient(to left,#f9b533, #ff7201 );
    background-image: linear-gradient(to left,#f9b533, #ff7201 );
}
.index_ser4_tit{
    width: 100%;
    border:1px solid #fb6c0e;
    margin-bottom: 20px;
    display:  flex;
}
.index_ser4_tit span{
    /*min-width: 33.33333%;*/
    display: block;
    float: left;
    font-size:  16px;
    height: 48px;
    flex-grow: 1;
    line-height: 48px;
    color: #fb6c0e;
    cursor:pointer;
    text-align:center;
    border-right: 1px solid #fb6c0e;
}
.index_ser4_tit span.active{
    background-color: #fb6c0e;
    color: #fff;
}
.index_ser4_tit span:last-child{
    border:0px;
}
.index_ser4_box1{
    background-color: #fff;
    margin: 10px 0;
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.1);
    cursor:  pointer;
    position: relative;
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    top: 0px;
}
.index_ser4_box1 .img{
    width: 100%;
    /*background-position: center center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    height: 140px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.index_ser4_box1 .img img{
    height: 100%;
}
.index_ser4_box1_tips{
    position: absolute;
    top: 5px;
    left: -37px;
    height: 40px;
    line-height: 40px;
    background-color: #fb6c0e;
    text-align: center;
    width: 124px;
    color: #fff;
    transform: rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    text-transform: uppercase;
}
.index_ser4_box1_tips.tips3{
    background-color:#03b345;
}
.index_ser4_box1_tips.tips3{
    background-color:#03b345;
}
.index_ser4_box1_tips.tips1{
    background-color:#cb172a;
}
.index_ser4_box1_tips.tips2{
    background-color:#e64883;
}
.index_ser4_box1_tips.tips4{
    background-color:#0f97fd;
}
.index_ser4_box1_tips.tips5{
    background-color:#68cd06;
}
.index_ser4_box1:hover{
    top: -5px;
}
.index_ser4_box1 p{
    line-height: 38px;
    height: 38px;
    padding: 0 15px;
    border-top:1px solid #eee;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow:hidden;
}
.index_ser4_box2{
    margin:10px 0;
    background-color: #fff;
}

.index_ser4_box2 .img{
    width: 30%;
    float: left;
    height: 134px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.index_ser4_box2 .text{
    width: 70%;
    padding: 20px 20px 12px 20px;
    float:  left;
}
.index_ser4_box2 .text h5{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow:hidden;
    margin-bottom: 10px;
    font-size: 16px;
    color:#333;
}
.index_ser4_box2:hover .text h5{
    color: #fb6c0e;
}
.index_ser4_box2 .text p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow:hidden;
    color:  #666;
    font-size:  12px;
    line-height: 22px;
}
.index_ser4_box2 .text h6{
    margin-top: 15px;
    color: #999;
}
.index_ser4_box2 .text h6 span{
    margin-left:10px
}
.index_ser4_box2 .text h6 i{
    font-size: 17px;
    margin-right: 4px;
    display:  inline-block;
    vertical-align:  middle;
    margin-top: -3px;
}
.index_ser5_title{
    margin-bottom:40px;
    text-align: center;
}
.index_ser5{
    background-color: #ffe4d2;
    padding: 50px 30px  30px 30px;
}
.index_ser5_title span{
    padding:10px 15px;
    display: inline-block;
    border: 1px solid #333;
    font-size: 25px;
    color: #333;
}
.index_ser5_box{
    float: left;
    width: 14.28%;
    text-align:center;
    margin-bottom:20px;
}
.index_ser5_box img{
    width: 72%;
}
.footer{
    padding: 50px 0;
    text-align: center;
    font-size: 12px;
}
.footer span{
    color:#fb6c0e;
    margin-left: 12px;
    cursor: pointer;
}
.index_core{
    position: fixed;
    top: 37.5%;
    left: 1551px;
    width: 158px;
    border: 1px solid #d6d6d6;
    padding: 10px 15px;
    background-color:  #fff;
    text-align:  center;
    z-index:999;
}
.index_core h5{
    font-size: 12px;
    color: #fc6b0e;
    margin-bottom: 13px;
}
.index_core p{
    margin-top: 10px;
    font-size:  12px;
    line-height: 17px;
}
.index_ser4_more{
    margin-bottom: 8px;
}
.index_ser4_left{
    float: left;
    font-size: 15px;
}
.index_ser4_left img{
    width: 26px;
    display:  inline-block;
    vertical-align:  middle;
    margin-right: 6px;
    margin-top: -4px;
}
.index_ser4_right{
    float: right;
}
.index_ser4_right a:hover{
    color: #fb6c0e;
}

/*index*/
/*tool*/
.header_all .left_menu_con{
    display: none;
}
.header_all .left_menu_tit i{
    position: absolute;
    top: 8px;
    right: 13px;
    font-size: 22px;
}
.header_all .left_menu:hover  .left_menu_con{
    display: block;
}
.header_all .left_menu:hover .left_menu_tit i{
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
.allhear_mar{
    margin-top:30px;
}
.tool_con{
    padding: 30px;
    background-color: #fff;
}
.tool_con .index_ser4_box2 .text{
    border:1px solid #ececec;
    border-left: 0px;
}
.all_nav{
    padding: 15px 0;
    color: #999;
}
/*tool*/

/*tooldetail*/
.toolDetails_con{
    background-color: #fff;
    border: 1px solid #ececec;
}
.toolDetails_tit{
    padding: 54px 0 25px 0;
    text-align: center;
    border-bottom: 1px dashed #dfe4e8;
}
.toolDetails_tit h2{
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 18px;
}
.toolDetails_tit p{
    text-align: center;
}
.toolDetails_tit span{
    display: inline-block;
    margin: 0 10px;
    color: #999;
    font-size: 12px;
}
.toolDetails_box{
    padding: 30px;
}
.toolDetails_box p{
    font-size: 14px;
    margin: 10px 0;
    line-height: 27px;
    letter-spacing:  1px;
}
.toolDetails_box p img{
    max-width: 100%;
    display:  block;
    margin:  0  auto;
}
.toolDetails_bt{
    text-align: center;
    padding-bottom: 15px;
    margin-top: 30px;
    border-bottom: 1px dashed #dfe4e8;
}
.toolDetails_bt a{
    display: inline-block;
    padding: 9px 25px;
    border-radius: 9px;
    background-color: #e8e8e8;
    border: 1px solid  #dcdcdc;
}
.toolDetails_go{
    padding: 20px 30px;
}
.toolDetails_go p{
    line-height: 34px;
}
.toolDetails_go  a:hover{
    color:#fb6c0e;
}
.hot_news{
    background-color:#fff;
    border: 1px solid #ececec;
}
.hot_news h2.tit{
    font-size: 18px;
    line-height: 43px;
    padding: 0 15px;
    background-color: #eaeaea;
}
.hot_news ul{
    padding: 4px 15px;
    font-size:12px;
}

.hot_news ul li a{
    display:block;
    position:relative;
    padding: 0 74px 0  30px;
    margin: 15px 0;
}
.hot_news ul b{
    position:absolute;
    top:0px;
    left:0px;
    color: #333;
    width: 18px;
    font-weight:300;
    text-align:center;
    height: 18px;
    border-radius: 3px;
    background-color: #eee;
}
.hot_news ul .date{
    position:absolute;
    top:0px;
    right:0px;

}
.hot_news ul .text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow:hidden;
    color: #f76000;
    line-height:  16px;
}
.hot_tool{
    /*margin-top: 20px;*/
}
.hot_tool_con{
    padding: 30px 25px 15px 25px;
    text-align:center;
}
.hot_tool_box h5 img{
    height: 64px;
    margin-bottom: 7px;
}
.hot_tool_box p{
    font-size:12px;
}
.hot_tool_box{
    margin: 0 -8px;
    margin-bottom: 13px;

}
.hot_news ul b.numFir{
    background-color:#f34646;
    color:#fff;
}
/*tooldetail*/
/*notice*/
.notice_menu{
    background-color: #fff;
    border: 1px solid #D9D9D9;
    min-height: 600px;
}
.notice_menu_tit{
    padding: 0 15px;
    font-size: 16px;
    line-height: 45px;
    border-bottom:1px solid #eee;
}
.notice_menu_tit img{
    width: 23px;
    display:  inline-block;
    vertical-align:  middle;
    margin-right: 6px;
}
.notice_menu_list a{
    display: block;
    text-align: center;
    line-height: 37px;
    font-size: 13px;
}
.notice_menu_list li{
    /* border-bottom:1px solid #eee; */
}
.notice_menu_list li.active{
    background-color: #f4f4f4;
    border-left: 2px solid #fc6b0e;
    width: 101%;
}
.notice_ccontent{
    background-color: #fff;
    border: 1px solid #D9D9D9;
    padding: 0 30px 30px 30px;
    height: 600px;
    overflow-y: auto;
}
.notice_ccontent_box{
    padding:20px 15px;
    border-bottom: 1px solid #eee;
}
.notice_ccontent_box:hover{
    background-color: #f5f5f5
}
.notice_ccontent_box h5{
    color:#333;
    margin-bottom:15px;
}
.notice_ccontent_box:hover h5{
    color: #fb6c0e;
}
.notice_ccontent_box p{
    font-size:12px;
    line-height:22px;
    margin-bottom:15px;
    color: #666;
    letter-spacing:  1px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow:hidden;
}
.notice_ccontent_box h6 {
    color: #999;
}
/*notice*/
/*toolall*/
.toolALL_con{
    background-color: #fff;
    border:1px solid #ddd;
    border-top: 1px solid #fb6c0e;
    padding: 30px;
    min-height: 550px;
}
.toolALL_nav p{
    display: inline-block;
    padding: 7px 28px;
    background-color: #fb6c0e;
    color: #fff;
    font-size: 17px;
    border-radius: 5px 5px 0 0;
}
.toolALL_info{
    padding: 25px;
}
.text_protant{
    color: #fc6d0b;
}
.toolALL_info{
    background-color: #ececec;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}
.toolALL_info a{
    color: #fb6c0e;
}
.toolALL_info_tit{
    font-size: 16px;
    color: #5a3817;
    font-weight: bold;
    margin-bottom: 20px;
}
.toolALL_info_text p{
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 10px;
}
.toolALL_info_text img{
    width: 100%;
}
.toolALL_info_box{
    margin-bottom: 25px;
}
.toolALL_info_box:last-child{
    margin-bottom: 0px;
}
.hotwords_box{
    display: none;
}
.hotwords_box.active{
    display: block;
}
/*toolall*/

/*butler*/
.butler_ser1,.butler_serall{
    background-color: #ff6130;
    position: relative;
    color: #fff;
    margin-bottom:20px;
}
.butler_serall_bg{
    opacity: 0.3;
}
.butler_ser1_bg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 0.4;
}
.butler_ser1_list{
    padding: 30px;
    position:  relative;
    z-index: 1;
    width: 60%;
    min-height: 430px;
}
.butler_ser1_list li {
    line-height: 50px;
    font-size: 18px;
    padding: 0 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    background-image: linear-gradient(
            to left,
            rgba(255, 97, 48, 0) 0%,
            #ff6130 90%,
            rgba(255, 97, 48, 0) 100%);
    background-image: -webkit-linear-gradient(
            to left,
            rgba(255, 97, 48, 0) 0%,
            #ff6130 90%,
            rgba(255, 97, 48, 0) 100%);
    background-image: -o-linear-gradient(
            to left,
            rgba(255, 97, 48, 0) 0%,
            #ff6130 90%,
            rgba(255, 97, 48, 0) 100%);
    background-image: linear-gradient(
            to left,
            rgba(255, 97, 48, 0) 0%,
            #ff6130 90%,
            rgba(255, 97, 48, 0) 100%);
}
.butler_ser1_list li:last-child{
    margin-bottom:0px;
}
.butler_ser1_right{
    position: absolute;
    top: 0px;
    right: 2%;
    width: 39%;
    padding: 30px;
}
.butler1_right1_text1{
    background-image: linear-gradient(to left,#fc9557, #e96719 );
    padding: 16px 0 24px 0;
    padding-left: 13%;
    position:relative;
    min-height: 150px;
}
.butler1_right1_text1 img{
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0px;
}
.butler1_right1_text1 h3{
    font-size: 20px;
    line-height: 33px;
    font-weight:300;
}
.butler1_right1_text1 p{
    font-size: 12px;
    line-height: 21px;
}
.butler1_right1_text1 h5{
    margin-top: 11px;
    letter-spacing:0px;
    font-size:12px;
    border: 1px solid #fdfdfd;
    border-radius:15px;
    line-height: 23px;
    display:  inline-block;
    padding: 0 12px;
}
.butler1_right1_line{
    height: 26px;
    background-color: #ff6130;
}
.butler1_right2 img{
    width: 160px;
    float: left;
    border: 10px solid #fff;
    margin-right: 15px;
}
.butler1_right2{
    margin-top: 20px;
}
.butler1_right2 p{
    font-size: 22px;
    line-height: 38px;
}
.butler_ser2_left{
    width: 30%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-image: linear-gradient(to left,#ff3901, #ff9b30 );
}
.butler_ser2_left_box{
    position: absolute;
    top: 50%;
    left: 43%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.butler_ser2_left_box img{
    width: 138px;
}
.butler_ser2_left_box h1{
    position: absolute;
    top: 50px;
    right: -20px;
    width: 44px;
    font-size: 44px;
}
.butler_ser2_left_box h2{
    font-size: 72px;
    position:  absolute;
    opacity:0.5;
    transform:rotate(90deg);
    top: 58%;
}
.butler_ser3_img{
    text-align: center;
    padding: 80px 0;
}
.butler_ser3_img img{
    display: inline-block;
    width: 50%;
}
.butler_ser3_tit{
    text-align: center;
    position: relative;
    padding-top: 34px;
    letter-spacing:  1px;
    margin: 50px 0;
}
.butler_ser3_tit .text{
    display: inline-block;
    background-color: #fff;
    font-size: 42px;
    position: relative;
    z-index: 1;
    padding: 0 27px;
}
.butler_ser3_tit .text span{
    font-weight: bold;
}
.butler_ser3_tit .eng{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 300;
    color: #e4e4e4;
    text-transform:  uppercase;
    font-size: 56px;
    z-index: 0;
}
.butler_ser3_tit:before{
    content: '';
    position: absolute;
    bottom: 26px;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #ffad95;
    z-index:0;
}
.butler_ser3_box .box{
    text-align: center;
    background-color: #ff6130;
    color: #fff;
    position: relative;
    padding: 37% 0;
}
.butler_ser3_box .box h3{
    font-size: 30px;
    margin-bottom: 26px;
}
.butler_ser3_box .box span{
    width: 100px;
    height: 4px;
    background-color:#fff;
    margin: 0 auto;
    display: block;
}
.butler_ser3_box{
    margin-bottom: 50px
}
.butler_ser2_right{
    position: absolute;
    top: 50%;
    right: 7%;
    width: 56%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.butler_ser2_right:hover .index_banner_bt{
    opacity: 1;
}
.butler_ser113 .butler1_right1_text1{
    padding-top: 14%;
}
/*butler*/
/*微信弹框*/
.index_frame{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    display: none;
}
.index_frame_box{
    position: absolute;
    top: 47%;
    left: 50%;
    width: 540px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    height: 591px;
}
.index_frame_close{
    position: absolute;
    top: 0px;
    cursor: pointer;
    right: 0px;
}
.index_frame_input{
    position: absolute;
    bottom: 23px;
    left: 43%;
    z-index: 2;
}
.index_frame_input input{
    display: inline-block;
    height: 37px;
    line-height: 40px;
    border-radius: 30px;
    width: 135px;
    border: 0px;
    padding: 0 15px;
    vertical-align:  middle;
}
.index_frame_input span{
    display: inline-block;
    width:  60px;
    height: 40px;
    vertical-align:  middle;
    cursor:  pointer;
}
.index_frame_code{
    position: absolute;
    top: 28%;
    left: 50.7%;
    border-radius: 5px;
    overflow:  hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.index_frame_code img{
    width: 150px;
}
.heade_cu{
    cursor: pointer;
}
/*微信弹框*/
/*********.网站弹框**********/
.wap_tanc{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:99999;
    display:none;
}
.wap_tanc_bg{
    width:100%;
    height:100%;
    position:absolute; top:0; left:0;
    z-index:9;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    -khtml-opacity:0.4;
    -webkit-opacity:0.4;
}

.wap_tanc_con{
    width:250px;
    padding: 16px;
    padding-bottom: 0;
    background-color: rgba(255,255,255,0.96);
    border-radius:15px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-55px;
    margin-left:-125px;
    /* display:none; */
    z-index:9;
}
.wap_tanc_con h5{
    margin:0;
    padding-bottom: 16px;
    line-height:30px;
    text-align:center;
    font-size:14px;
    color: #fe6b0c;
    font-weight:600 !important;
    letter-spacing:1px;
    border-bottom:1px solid #EBEBEB;

}

.wap_tanc_btn a{
    display:inline-block;
    width:50%;
    float:left;
    line-height:50px;
    text-align:center;
    letter-spacing:1px;
    font-size:14px;
    color: #333;
    /*color:#006fff;*/
}


.wap_tanc_con1{
    width:500px;
    height:250px;
    margin-top:-125px;
    margin-left:-250px;
    padding:50px;
}
.wap_tanc_con1 h5{
    border-bottom:none;
    text-align:left;
    line-height:40px;
    font-weight:normal !important;
}
.wap_tanc_con1 h5 img{
    display:inline-block;
    vertical-align:top;
    margin-right:10px;
}
.wap_tanc_con1 h5 p{
    display:inline-block;
    vertical-align:top;
    font-size:30px;
}
.wap_tanc_con1 h5 p span{
    color:#ea5404;
    margin:0 3px;
}

.wap_tanc_con1 a{
    font-size:14px;
    display:inline-block;
    padding-left:95px;
    margin-top:20px;
    color:#ea5404;
    letter-spacing:1px;
}
.wap_tanc_con1>p{
    font-size:24px;
    color:#999;
    position:absolute; top:10px; right:20px;
    cursor:pointer;
}
/*********网站弹框**********/

/*********7天冲首页**********/
.seven_big{
    background-color: #fff;
}
.seven_ser1{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 417px;
    border-bottom: 20px solid #fff8f0;
    position: relative;
}
.seven_ser1_text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.seven_ser1_text .tit{
    width: 800px;
    height: 95px;
    line-height: 91px;
    margin: 0 auto;
    background-size:  cover;
    background-position: center center;
    font-size: 47px;
    padding-left: 5%;
    font-weight:  bold;
    color: #ffea05;
    -webkit-text-stroke: 2.5px #5d1f02;
    text-stroke: 2.5px #5d1f02;
    margin-bottom: 20px;
}
.seven_ser1_text .tit2{
    width: 499px;
    height: 59px;
    margin:  0 auto;
    line-height: 59px;
    background-size:  cover;
    background-position: center center;
    font-size: 33px;
    padding-left: 5%;
    color: #ffea05;
    letter-spacing: 4px;
}
.all_pad{
    padding: 80px 0;
}
.seven_ser2{
    text-align: center;
}
.seven_ser3,.seven_ser5{
    background-color:#fff8f0;
    text-align: center;
}
.seven_ser4{
    background-color: #fff;
}
.seven_ser4_box{
    margin: 0 auto;
    width: 1042px;
    position: relative;
}
.seven_ser4_text{
    position: absolute;
    top: 26.5%;
    width: 100%;
    padding: 0 10% 0  12%;
}
.seven_ser4_text li{
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 39px;
    letter-spacing: 1px;
}
.seven_ser4_text li span{
    color: #883e11;
}
.seven_ser5{
    padding-bottom: 100px;
}
.seven_ser5_con{
    width: 992px;
    margin: 0 auto;
    text-align:  left;
}
.seven_ser5_box_left{
    width: 32%;
    float: left;
    border-bottom: 4px solid #e5a25c;
}
.seven_ser5_box_left_num{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #e5a25c;
    padding: 7px;
    position:  relative;
    top: 42px;
    vertical-align:  middle;
    display:  inline-block;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
}

.seven_ser5_box_left_num:before{
    content:'';
    position:absolute;
    top: 38%;
    right: -28px;
    width:0px;
    height:0px;
    border-top: 12px solid transparent;
    border-right: 5px solid transparent;
    border-left: 32px solid #e5a25c;
    border-bottom: 12px solid transparent;
}

.seven_ser5_box_left_num span{
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    display:  block;
    height: 100%;
    position:  relative;
    line-height: 71px;
    font-family: arial;
    border: 2px solid #ba834f;
}
.seven_ser5_box_tit{
    display: inline-block;
    width: 200px;
    vertical-align:  middle;
    height: 53px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #e5a25c;
    border-radius: 50px;
    font-size: 28px;
    margin-left: 10px;
}
.seven_ser5_box{
    margin-top: 48px;
}
.seven_ser5_box_right{
    float: left;
    height: 89px;
    position: relative;
    width: 68%;
}
.seven_ser5_ball{
    position: absolute;
    width: 23px;
    height: 23px;
    bottom: -7px;
    z-index: 1;
    left: -10px;
    border-radius: 50%;
    background-color: #e5a25c;
    padding: 4px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
}
.seven_ser5_ball:before{
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
}
.seven_ser5_ball:after{
    content:'';
    position:absolute;
    top: 35%;
    left: -12px;
    width:0px;
    height:0px;
    border-top: 5px solid transparent;
    border-right: 15px solid #e5a25c;
    border-bottom: 5px solid transparent;
}
.seven_ser5_box_right_text{
    position: absolute;
    bottom: 2px;
    left: 0px;
    height: 130px;
    display:  table;
    border-left: 2px solid #050202;
}
.seven_ser5_box_right_text p{
    padding:20px;
    min-width: 114px;
    font-size: 25px;
    line-height: 35px;
    vertical-align:  bottom;
    display: table-cell;
    border-bottom: 2px dashed #83490d;
}
.seven_ser5_box:first-child .seven_ser5_box_right_text{
    border:0px
}
.seven_ser6_box{
    margin: 0 auto;
    width: 502px;
    position: relative;
}
.seven_ser6_code{
    position: absolute;
    width: 124px;
    height: 124px;
    top: 32px;
    padding: 4px;
    left: 24px;
    background-color: #fff;
    border: 2px solid #1d1d1d;
}
.seven_ser6_text{
    position: absolute;
    top: 32px;
    right: 40px;
    width: 294px;
    text-align: center;
}
.seven_ser6_text .tit{
    font-size: 43px;
    color: #1d1d1d;
    letter-spacing: 2px;
    margin-bottom: 23px;
}
.seven_ser6_text .text{
    font-size: 28px;
    letter-spacing: 2px;
    background-color: #fff;
    padding: 5px 10px;
    border: 2px solid #1d1d1d;
}
.seven_ser6_text .text span{
    color: #e5a25c ;
}
/*********7天冲首页**********/

/*********21天流量爆款**********/
.twentyone_ser1{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 560px;
    text-align: center;
}
.twentyone_ser1 h4{
    display: inline-block;
    background-color: #de652f;
    color: #fff;
    padding: 13px 41px;
    border-radius: 30px;
    margin-top: 14%;
    letter-spacing: 1px;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 23px;
}
.twentyone_ser1 h5{
    font-size: 38px;
}
.twentyone_big{
    background-color: #fff;
}
.twentyone_tit{
    text-align: center;
    margin-bottom: 70px;
}
.twentyone_tit h1{
    display:inline-block;
    font-size: 33px;
    padding: 14px 55px;
    /* min-width: 700px; */
    border-radius: 30px;
    border: 3px solid #de652f;
}
.twentyone_tit h5{
    font-size: 26px;
    margin-top: 20px;
}
.twentyone_ser2_box{
    width: 990px;
    margin: 0 auto;
    text-align: center;
    padding:100px 0 ;
    position: relative;
}
.twentyone_ser2_box .box{
    position:absolute;
    text-align: left;
    padding: 0  0 0 47px;
}
.twentyone_ser2_box .box .tit{
    font-size: 57px;
    font-family: Arial;
    color: #f2b256;
    position: absolute;
    top: -33px;
    left: 0px;
    padding-right: 6px;
}
.twentyone_ser2_box .box .tit:after{
    content:'';
    position: absolute;
    top: 20px;
    right: 2px;
    width: 2px;
    height: 58px;
    background-color: #f2b256;
    transform: rotate(18deg);
}
.twentyone_ser2_box .box .text{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
}
.twentyone_ser2_box .box.one{
    top: 4%;
    left: 40%;
}
.twentyone_ser2_box .box.two{
    top: 13%;
    left: 18%;
}
.twentyone_ser2_box .box.three{
    top: 19%;
    right: 15%;
}
.twentyone_ser2_box .box.four{
    top: 36%;
    left: 6%;
}
.twentyone_ser2_box .box.five{
    top: 40%;
    right: 8%;
}
.twentyone_ser2_box .box.six{
    top: 53%;
    left: 5%;
}
.twentyone_ser2_box .box.seven{
    top: 63%;
    right: 7%;
}
.twentyone_ser2_box .box.eight{
    bottom: 18%;
    left: 18%;
}
.twentyone_ser2_box .box.nine{
    bottom: 15%;
    right: 16%;
}
.twentyone_ser2_box .box.ten{
    bottom: 2%;
    left: 37%;
    padding-left: 87px;
}
.twentyone_ser3{
    position: relative;
    background-color: #fbfbfb;
    padding-bottom: 40px;
}
.twentyone_ser3_con{
    width:990px;
    margin:0 auto;
    position: relative;
}
.twentyone_line{
    position: absolute;
    top: 43%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 30px;
}
.twentyone_ser3_box{
    width:250px;
    margin:0 auto;
    min-height: 200px;
    margin-bottom: 40px;
}
.twentyone_ser3_box .tit{
    background-color:#c45b5c;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    height: 50px;
    line-height: 50px;
    position:  relative;
    width:  290px;
    left: -18px;
    padding-left: 31px;
    border-radius: 0px 22px 22px 0px;
}

.twentyone_ser3_box .text{
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 15px;
    font-size: 18px;
    line-height: 30px;
}
.twentyone_ser3_box .tit:after{
    content:'';
    position:absolute;
    width:0px;
    height:0px;
    left:0px;
    bottom: -10px;
    border-top: 0px solid transparent;
    border-right: 18px solid #8b2122;
    border-bottom:10px solid transparent;
}
.twentyone_ser3_box.two .tit,.twentyone_ser3_box.six .tit{
    background-color:#cda55f;
}
.twentyone_ser3_box.two .tit:after,.twentyone_ser3_box.six .tit:after{
    border-right-color:#9b7632;
}
.twentyone_ser3_box.three .tit{
    background-color:#e5ab45;
}
.twentyone_ser3_box.three .tit:after{
    border-right-color:#8f4732;
}
.twentyone_ser3_box.four .tit{
    background-color:#ce6548;
}
.twentyone_ser3_box.four .tit:after{
    border-right-color:#845447;
}
.twentyone4_con{
    text-align: center;
}
.twentyone4_box{
    width: 226px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    padding: 18px;
    border: 2px dashed #c1c1c1;
    margin-bottom:40px;
    height: 324px;
}
.twentyone4_box .num{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px #000 dashed;
    margin: 0 auto;
    background-color: #f2b256;
    color: #fff;
    line-height: 65px;
    font-size: 30px;
    margin-bottom: 10px;
}
.twentyone4_tit{
    font-size: 28px;

    margin-bottom: 10px;
    line-height: 37px;

}
.twentyone4_tit_text{
    color: #555;
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    border-top: 2px  dashed #333;
}
.twentyone4_con{
    width: 1200px;
    margin: 0 auto;
}
.twentyone4_box:nth-child(2n){
    border:2px solid #f2b256;
}
.twentyone4_box:nth-child(2n) .num{
    background-color:#ce6548;
}
.twentyone_ser5{
    background-color: #fbfbfb;
}
.twentyone_ser5_box{
    position: relative;
    width: 1167px;
    margin:  0 auto;
}
.twentyone_ser5_box .seven_ser4_text{
    top: 14%;
    padding: 0 10% 0 10%;
}
.twentyone_ser5_box .seven_ser4_text li
{
    font-size: 22px;
    margin-bottom: 30px;
}
/*********21天流量爆款**********/
/********直通车**********/
.train_big{
    background-color: #fff;
}
.train_tit{
    margin-bottom: 50px;
    text-align: center;
}
.train_tit h1{
    font-size: 44px;
    letter-spacing: 2px;
}
.train_tit h1 span{
    color: #2c93db;
}
.train_ser2_box{
    text-align: center;
    width: 990px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}
.train_ser2_list li{
    position: absolute;
    font-size: 20px;
}
.train_ser2_list li:nth-child(1){
    top: 3%;
    left: 19%;
}
.train_ser2_list li:nth-child(2){
    top: 19%;
    left: 13%;
}
.train_ser2_list li:nth-child(3){
    top: 39%;
    left: 8%;
}
.train_ser2_list li:nth-child(4){
    top: 63%;
    left: 4%;
}
.train_ser2_list li:nth-child(5){
    bottom: 7%;
    left: 6%;
}
.train_ser2_list li:nth-child(9){
    bottom: 10%;
    right: 6%;
}.train_ser2_list li:nth-child(6){
     top: 8%;
     right: 9%;
 }
.train_ser2_list li:nth-child(7){
    top: 28%;
    right: 0%;
}
.train_ser2_list li:nth-child(8){
    bottom: 38%;
    right: 2%;
}
.train_ser2_text h1{
    font-size: 33px;
    border:2px solid #72c5ff;
    padding: 10px 40px;
    border-radius: 35px;
    width: 574px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.train_ser2_text{
    margin-top: 50px;
    text-align:  center;
}
.train_ser2_text p{
    display: inline-block;
    background-color: #72c5ff;
    color: #fff;
    font-size: 33px;
    padding: 7px 30px;
    border-radius: 35px;
}
.train_ser2_text p span{
    color: #fff77f;
}
.train_tit_son{
    display: inline-block;
    border:2px solid #72c5ff;
    font-size: 28px;
    padding: 6px 25px;
    border-radius: 35px;
}
.train_tit .train_tit_son{
    margin-top:20px;
}
.train_ser3{
    background-color: #fbfbfb;
}
.train_ser3 .twentyone_ser3_box .text{
    text-align: center;
}
.train_ser3_text{
    text-align: center;
}
.train_ser3_text h3{
    margin-top: 20px;
}
.train_ser3_text h3 span{
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    font-size: 25px;
}
.train_ser4_tit{
    text-align: center;
    margin-bottom: 30px;
}
.train_ser4_tit h3{
    display: inline-block;
    vertical-align: middle;
    font-size:45px;
    color: #1c8bd8;
}
.train_ser4_tit h5{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    padding-bottom: 10px;
    position: relative;
}
.train_ser4_tit h5:after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 6px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}
.train_ser4_con{
    width: 990px;
    margin: 0 auto;
    position: relative;
}
.train_ser4_box{
    position: absolute;
}
.train_ser4_box .num{
    width: 60px;
    height: 90px;
    background-color: #1c8bd8;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    float: left;
    margin-right: 17px;
}
.train_ser4_box .text{
}
.train_ser4_box .text h2{
    color: #1c8bd8;
    font-size: 25px;
    margin-bottom: 10px;
}
.train_ser4_box .text p{
    font-size: 17px;
    line-height: 27px;
}
.train_ser4_box.one{
    top: 8%;
    left: 32%;
    width: 63%;
}
.train_ser4_box.two{
    top: 20%;
    left: 41%;
    width: 42%;
}
.train_ser4_box.three{
    top: 33%;
    left: 46%;
    width: 37%;
}
.train_ser4_box.four{
    top: 46%;
    left: 53%;
    width: 34%;
}
.train_ser4_box.five{
    top: 60%;
    left: 46%;
    width: 59%;
}
.train_ser4_box.six{
    top: 73%;
    left: 32%;
    width: 63%;
}
.train_ser4_box.seven{
    bottom: 6%;
    left: 11%;
    width: 43%;
}
.train_ser5{
    background-color: #fbfbfb;
}
.train_ser5 .train_tit span{
    color: #ea6863;
}
.train_ser5_box{
    font-style: italic;
    margin-bottom: 31px;
}
.train_ser5_con{
    width:990px;
    margin:0 auto;
    padding:0 20px;
}
.train_ser5_box .train_num{
    font-size: 40px;
    font-family: Arial;
    color: #1c8bd8;
    float: left;
    margin-right: 17px;
}
.train_ser5_box .text{
    display: inline-block;
    background-color: #1c8bd8;
    color: #fff;
    height: 39px;
    line-height: 39px;
    font-size: 20px;
    position:relative;
    letter-spacing: 2px;
    padding-right: 3px;
}
.train_ser5_box .text:after{
    content:'';
    position:absolute;
    top:0px;
    left: -12px;
    width:0px;
    height:0px;
    border-bottom:39px solid #1c8bd8;
    border-left: 12px solid transparent;
}
.train_ser5_box .text:before{
    content:'';
    position:absolute;
    top:0px;
    right: -12px;
    width:0px;
    height:0px;
    border-top:39px solid #1c8bd8;
    border-right: 12px solid transparent;
}
.train_ser5_box .text span{
    color: #faef75;
}
.train_ser5_box2_left{
    float: left;
    margin-right: 7%;
}
.train_ser5_box2_left img{
    width: 250px;
}
.train_ser5_box2_right{
    float: left;
    padding-top: 15px;
}
.train_ser5_box3_right{
    float: right;
}
.train_ser5_box3_right img{
    width:200px;
}
.train_ser5_box3 .train_ser5_box2_right{
    padding-top: 4%;
}
.train_ser6 .seven_ser6_text .text span{
    color: #1c8bd8;
}
.train_ser6{
    background-color: #f6f6f5;
    background-position: center bottom;
    background-repeat: no-repeat;
}
/********直通车**********/
/********违禁词**********/
.prohibited_con{
    margin-bottom: 40px;
}
.prohibited_left{
    float: left;
    width: 50%;
}
.prohibited_left_tit .box{
    display: inline-block;
    background-color: #fb6c0e;
    color: #fff;
    height: 40px;
    line-height:  40px;
    padding: 0 17px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}
.prohibited_left_tit .box img{
    width: 24px;
    display: inline-block;
    vertical-align:  middle;
    margin-top: -3px;
}
.prohibited_left_tit{
    margin-top: 20px;
}
.prohibited_box.left{
    border:1px solid #fb6c0e;

}
.prohibited_box{
    height: 150px;
}
.prohibited_box textarea{
    border:0px;
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    height: 100%;
    width: 100%;
    resize: none;
}
.prohibited_box_son{
    height: 100%;
    background-color: #f5f5f5;
    padding: 10px;
}
.prohibited_left_tit{
    height:40px;
}
.prohibited_left_tit .box2 img{
    width: 23px;
}
.prohibited_left_tit .box2  span{
    color: #ff4800;
}
.prohibited_left_tit .box2{
    color: #666;
    position:  relative;
    top: 11px;
}
.index_his{
    cursor: pointer;
}
.all_bg{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    background-color: rgba(0,0,0,0.5);
}

@media (max-width: 1500px){
    .index_core{
        left: auto!important;
        right: 0px;
    }
}
/********违禁词**********/
.index_Tips .wap_tanc_con{
    width: 400px;
    margin-left: -200px;
}
.index_Tips .wap_tanc_btn span{
    float: left;
    width: 50%;
    line-height:50px;
    text-align:center;
    letter-spacing:1px;
    font-size:14px;
    color:#006fff;
    cursor:  pointer;
}
.index_Tips .wap_tanc_con h5{
    color: #fb6c0e;
}
.header_hotIcon{
    position: absolute;
    top: -8px;
    left: 44%;
}
table.table_reputation tr td{
    padding: 10px 15px;
    text-align: left;
}
.score_con{
    border: 1px solid #ffc19b;
    background-color: #fff9f5;
    padding: 0 30px;
    width:70%;
    margin:0 auto;
    border-radius: 5px;
}
#his_result{
    width: 100%;
    margin: 0 auto;
    height: 400px;
}
.score_box{
    padding: 16px 0;
    border-bottom: 1px solid #ffd7bf;
}
.score_box:last-child{
    border:0px;
}
.score_tit{
    float: left;
    font-size:15px;
    padding-right:15px;
}
.score_text{
    float: left;
}
.score_text h4{
    font-size:14px;
    margin-top: 11px;
}
.history_result_tit2,.history_result_tit,.history_result_tit3{
    width: 84%;
    margin:0 auto;
}
.history_result_tit .tit{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.history_result_right{
    float: right;
}
.history_result_right span{
    display: inline-block;
    color: #999;
    margin-left: 21px;
    cursor: pointer;
}
.history_result_right span.active{
    color: #fa7b00;
    font-weight: bold;
}
.history_result_tit2{
    margin:20px auto;
}
.history_result_tit2 span{
    display:inline-block;
    margin-left:10px;
    font-weight:bold
}
.history_result_tit2 span.high{
    color: #E4393C;
}
.history_result_tit3_tit{
    border-left: 3px solid #fe8034;
    color: #f96300;
    padding-left: 15px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}
.history_result_box3{
    background-color: #fff2ea;
    padding: 15px 30px;
    margin-bottom: 30px;
}
.history_result3_img{
    width: 70px;
    float: left;
    margin-right: 30px;
}
.history_result3_text{
    float: left;
    line-height: 70px;
}
.history_result_tit2 span.low{
    color: #35BD68;
}
.dictionRe_one{
    color: #999;
    margin-bottom: 10px;
}
.dictionRe_menu{
    border:1px solid #dcdcdc;
    padding: 10px;
    font-size: 13px;
}
.dictionRe_menu_tit{
    float: left;
    width: 80px;
    line-height: 24px;
    font-weight: bold;
}
.dictionRe_menu_list{
    padding-left: 80px;
}
.dictionRe_menu_list li{
    display: inline-block;
    margin-right: 40px;
    line-height: 24px;
    cursor: pointer;
    color: #666;
    margin-bottom: 5px;
}
.dictionRe_menu_list li:hover{
    color: #fb6c0e;
}
.dictionRe_tit{
    margin-bottom: 20px;
}
.diction_line{
    width: 80px;
    height: 10px;
    border:1px solid #3bac8a;
    display: block;
    margin: 0 auto;
}
.diction_line b{
    display: block;
    background-color:#3bac8a ;
    height: 100%;
}
.diction_result_box table tr td{
    text-align: left;
}
.diction_result_box table thead td{
    padding: 5px 10px;
    font-weight: bold;
}
.diction_result_box table tbody td{
    padding: 10px!important;
    color: #666;
}
.diction_table_tit{
    color: #fb6c0e;
    margin-left: 10px;
}
table tr.diction_one_tr td{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.diction_line.up{
    border-color: #da4242;
}
.diction_line.up b{
    background-color: #da4242;
}
.holidayBox{
    position: fixed;
    top:0px;
    left: 0px;
    width: 415px;
    z-index: 999;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 20px 2px rgba(167, 1, 3,0.3);
}
.holidayBox_text{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 30px 43px 30px 53px;
    color: #ff9911;
    font-size: 15px;
    line-height: 26px;
    text-align:justify; text-justify:distribute-all-lines; text-align-last:justify;
}
.holidayBox_text span{
    color: #fff;
}
.titleResult_con1{
    border:1px solid #ffd49c;
    padding:30px;
}
.titleResult_con1_img{
    float: left;
    width: 130px;
    margin-right: 20px;
}
.titleResult_con1_text{
    float: left;
}
.titleResult_con1_text p{
    font-size: 17px;
    color: #666;
    margin-bottom: 14px;
}
.titleResult_con1_text p span{
    color: #333;
    font-weight: bold;
}
.titleResult_con1_text p font{
    color: #e60012;
    font-weight: bold;
}
.titleResult_con1_score{
    float: right;
}
.titleResult_con1_score h3{
    margin-bottom: 10px;
    font-weight: bold;
}
.titleResult_con1_score h5{
    font-size: 40px;
    font-family: Arial;
    color: #fb6c0e;
}
.titleResult_con1_score h5 font{
    font-size: 14px;
    color: #666;
}
.titleResult_con1_box{
    margin-bottom: 20px;
}
.titleResult_con1_box2 .tit{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.titleResult_con1_box2 .tit span{
    color: #e60012;
}
.titleResult_lable span{
    display: inline-block;
    height: 24px;
    line-height: 20px;
    font-size: 12px;
    color: #555;
    border: 1px solid #ffcaa9;
    background-color: #fff2e9;
    padding:0 10px;
    border-radius: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.titleResult_con2_box{
    width: 50%;
    float: left;
}
.titleResult_con2_box{
    font-size: 17px;
    margin: 10px 0;
}
.titleResult_con2_box .tit{
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin-right: 0px;
}
.titleResult_con2_box .img{
    margin-right: 5px;
    width: 16px;
}
.titleResult_con2_box .text{
    color: #666;
    font-size: 16px;
}
.titleResult_con2{
    background-color: #ffe8d9;
    padding: 20px 30px;
    margin: 30px 0;
}
.diction_result_box thead tr td{
    min-width: 100px;
}
.pageN_num{
    display: inline-block;
}
.pageN_jump{
    display: inline-block;
    margin-right: 9px;
}
.pageN_box{
    text-align: right;
    margin-bottom:40px;
}
.pageNud{
    background-color: #fb6c0e;
    border: 0px;
    box-shadow: none;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    margin-left: 5px;
    padding: 0 10px;
    line-height: 25px;
    vertical-align:top;
    cursor:pointer;
    display:inline-block;
    outline: none;
}
.pageN_box input{
    width:50px;
    text-align:center;
    margin-left:5px;
    height:25px;
    line-height:25px;
}


