<!DOCTYPE>
<html ng-app="search">
<head>
    <title>首页</title>
    <!-- 设置文档编码 -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <!--  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="/css/bootstrap/bootstrap-theme.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/font/font-awesome.css">
    <!-- CSS样式 -->
    <style type="text/css">
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #373731;
            font-style: italic;
            font-weight: bold;
            font-size: 30px;
        }

    </style>

</head>

<body ng-controller="searchController">
<!--顶部-开始-->
<div style=" background:#EBEBEB; width:100%; height:80px; line-height:80px;">
    <!--<div class="container">
        <div class="row">
            <span class="col-sm-7 col-sm-offset-1 col-xs-6 col-xs-offset-1">
                <h3 style="text-align: center"><strong>卖家在线查询</strong></h3>
            </span>

            <ul class="nav pull-right">

                <li id="fat-menu" class="dropdown">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user"></i> Jack Smith
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>-->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <ul class="nav pull-right">
                    <li id="fat-menu" class="dropdown">
                        <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> {{username}}
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul   class="dropdown-menu">
                            <li><a tabindex="-1" href="#">设置</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" href="sign-in.html">注销</a></li>
                        </ul>
                    </li>
                </ul>
                <a style="text-decoration:none" class="brand" href="index.html"><span class="first">卖家在线查询</span></a>
                <!--<a class="brand" href="#"> <h3 style="text-align: center"><strong>卖家在线查询</strong></h3></a>-->
            </div>
        </div>
    </div>
</div>
<!--顶部-结束-->

<!--导航-开始-->
<nav style="" class="navbar navbar-default">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li style="width: 150px;" class="active" ><a href="#paimin"  role="tab" data-toggle="tab"><strong>淘宝排名</strong></a></li>
                <li style="width: 150px;"><a style="text-align:center;font-size: 10px" href="#yinsi"  role="tab" data-toggle="tab"><strong>隐私</strong></a></li>
                <li style="width: 150px;"><a href="#weijin"  role="tab" data-toggle="tab"><strong>违禁词</strong></a></li>
            </ul>
        </div>
    </div>
</nav>
<!--导航-结束-->

<!--内容-开始-->
<div style="width: 80%;height: 75%" class="container">
    <div class="tab-content">
       <!--排名-->
    <div role="tabpanel" class="tab-pane active" id="paimin">




    </div>
        <!--隐私-->
    <div role="tabpanel" class="tab-pane" id="yinsi">


    </div>
        <!--违禁-->
    <div role="tabpanel" class="tab-pane" id="weijin">

        <div style="width: 100%;height: 100%" class="Container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <dl>
                        <dt style="font-size: 20px">
                            淘宝禁用词／广告、文案敏感词／检测查询工具
                        </dt>
                        <dd style="font-size: 15px">
                            已收录约3300个敏感词、禁用词，违禁词的命中率高，词库具有主动学习、动态更新的能力，我们为做最全面的违规词检查工具而努力，以便更好的服务各位卖家！
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="context" >
                <textarea style="width: 763px;height: 149px;border-radius:5px " ng-model="searchWords"  placeholder="粘贴你的广告、文案到此处，然后点击 &quot;检测一下&quot; 按钮" class="ng-pristine ng-valid ng-empty ng-touched"></textarea>
            </div>
            <div style="margin-top: 30px" class="button-container text-left">
                <button class="btn btn-success" ng-click="searchWjc()" ng-disabled="app.working">检测一下</button>

            </div></br>
            <!--结果-->
            <div class="result ng-hide" style="width:85%;height:350px;">
                <!--<div class="filters" ng-hide="app.hasNoViolation">-->
                    <!--<switcher class="styled ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" ng-model="style1" ng-disabled="isDisabled" ng-change="app.hideErrorsDetail = !app.hideErrorsDetail" true-label="" false-label="隐藏原因"><div class="switcher" ng-class="{active:shadowModel,disabled:disabled}"><span class="switcher-label false ng-binding" ng-bind-html="trustedHtml(falseLabel)" ng-click="set(false)">隐藏原因</span><label class="switcher-line"><input type="checkbox" ng-model="shadowModel" ng-disabled="disabled" ng-change="onChange()" class="ng-pristine ng-untouched ng-valid ng-empty"></label><span class="switcher-label true ng-binding" ng-bind-html="trustedHtml(trueLabel)" ng-click="set(true)"></span></div></switcher>-->

                    <!--<switcher class="styled ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty" ng-model="style2" ng-disabled="isDisabled" ng-change="app.hideErrors = !app.hideErrors" true-label="" false-label="隐藏敏感词"><div class="switcher" ng-class="{active:shadowModel,disabled:disabled}"><span class="switcher-label false ng-binding" ng-bind-html="trustedHtml(falseLabel)" ng-click="set(false)">隐藏敏感词</span><label class="switcher-line"><input type="checkbox" ng-model="shadowModel" ng-disabled="disabled" ng-change="onChange()" class="ng-pristine ng-untouched ng-valid ng-empty"></label><span class="switcher-label true ng-binding" ng-bind-html="trustedHtml(trueLabel)" ng-click="set(true)"></span></div></switcher>-->
                <!--</div>-->

                <!--<div class="noViolation ng-hide" ng-show="">-->
                    <!--恭喜你，没有发现任何禁用词／敏感词！-->
                <!--</div>-->
                <!--<div class="result-context" bind-html-compile="examedContext"></div>-->
            </div>
        </div>



    </div>


    </div>
</div>
<!--内容-结束-->

<!--尾部-开始-->
<div class="footer" style="background:#777777; width:100%; padding-bottom:20px; margin-top:72px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-12 text-center" style="margin-top:20px;">
                版权所有 Power by DeepDraw
            </div>
        </div>
    </div>
</div>
<!--尾部-结束-->
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/angular/angular.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/js/searchController.js"></script>
</html>