<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deepdraw.deepsearch.dao.FileDownloadMapper" >
  <resultMap id="BaseResultMap" type="com.deepdraw.deepsearch.entity.FileDownload" >
    <id column="file_id" property="fileId" jdbcType="INTEGER" />
    <result column="file_type" property="fileType" jdbcType="INTEGER" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_picture" property="filePicture" jdbcType="VARCHAR" />
    <result column="file_downloadPath" property="fileDownloadpath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    file_id, file_type, file_name, file_picture, file_downloadPath
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from file_download
    where file_id = #{fileId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from file_download
    where file_id = #{fileId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.deepdraw.deepsearch.entity.FileDownload" >
    insert into file_download (file_id, file_type, file_name, 
      file_picture, file_downloadPath)
    values (#{fileId,jdbcType=INTEGER}, #{fileType,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, 
      #{filePicture,jdbcType=VARCHAR}, #{fileDownloadpath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.deepdraw.deepsearch.entity.FileDownload" >
    insert into file_download
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        file_id,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="filePicture != null" >
        file_picture,
      </if>
      <if test="fileDownloadpath != null" >
        file_downloadPath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileId != null" >
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePicture != null" >
        #{filePicture,jdbcType=VARCHAR},
      </if>
      <if test="fileDownloadpath != null" >
        #{fileDownloadpath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.deepdraw.deepsearch.entity.FileDownload" >
    update file_download
    <set >
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=INTEGER},
      </if>
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="filePicture != null" >
        file_picture = #{filePicture,jdbcType=VARCHAR},
      </if>
      <if test="fileDownloadpath != null" >
        file_downloadPath = #{fileDownloadpath,jdbcType=VARCHAR},
      </if>
    </set>
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deepdraw.deepsearch.entity.FileDownload" >
    update file_download
    set file_type = #{fileType,jdbcType=INTEGER},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_picture = #{filePicture,jdbcType=VARCHAR},
      file_downloadPath = #{fileDownloadpath,jdbcType=VARCHAR}
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>
</mapper>